name: CI

on:
  push:
    branches:
      - main
      - next
  pull_request:
  workflow_call:

jobs:
  ci:
    name: CI
    if: ${{ github.head_ref != 'changeset-release/main' && github.head_ref != 'changeset-release/next' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run lint
        run: pnpm lint

        # Publish stable release to NPM
      - if: github.ref == 'refs/heads/main'
        name: Publish to NPM
        uses: changesets/action@v1
        with:
          publish: pnpm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        # Publish RC release to NPM
      - if: github.ref == 'refs/heads/next'
        name: Publish RC to NPM
        uses: changesets/action@v1
        with:
          publish: pnpm run release:next
          title: Release RC Version
          commit: Release RC
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
